@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");

.error {
  height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-size: cover;
  color: #52776c !important;
  font-weight: 900 !important;
  font-family: "Roboto Slab", serif;
  margin-left: -11% !important;
  width: 122% !important;
}

.height-vh {
  height: 100vh;
}

.main-heading {
  font-size: 220px;
  font-weight: 700;
}
